# Server (API)
SERVER_PORT=8000

# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=capstone

# MongoDB
MONGO_URI=mongodb://mongo:27017/capstone?authSource=admin
MONGO_USER=mongo
MONGO_PASSWORD=your_secure_password

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC=transactions
KAFKA_GROUP_ID=worker-group